@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=latin-ext');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);
@import 'https://fonts.googleapis.com/css?family=Rasa:500,600&subset=latin-ext';
html {
  font-family: 'Playfair Display', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  background-image: url(..//img/af-25.jpg);
  background-repeat: repeat;
  background-size: 100px auto;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Playfair Display", sans-serif;
  color: #494751;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.sporocilo {
  width: 100%;
  padding: 30px
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-size: 12px
}

.centering {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  body {
    background-image: url(..//img/bg2.png);
    background-repeat: repeat;
    background-size: 120px auto; }
  
  .sporocilo {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .centering {
	  height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  font-size: 40px;
	  text-align: center;
	  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;	  
	  box-sizing: border-box;
} }


@media (max-width: 360px) {
  body {
    background-image: url(..//img/bg2.png);
    background-repeat: repeat;
    background-size: 120px auto; }
  
  .sporocilo {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .centering {
	  height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  /*font-family: 'Oleo Script', 'Patrick Hand';*/
	  font-size: 20px;
	  text-align: center;
	  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	  box-sizing: border-box;
} }
