@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&subset=latin-ext');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);
@import 'https://fonts.googleapis.com/css?family=Rasa:500,600&subset=latin-ext';
html {
  font-family: 'Playfair Display', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

body {
  background-image: url(../img/af-25%.jpg);
  background-size: cover;
  background-position: center;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Playfair Display", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.centering {
  width: 100%;
  padding: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*align-items: flex-end;*/
  flex-wrap: wrap;
  font-weight: 400;
  font-style: italic;
  font-size: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sporocilo {
  align-self: flex-end;
  width: 100%;
}

.mail {
  font-weight: 500;
  font-style: normal;
  font-size: 18px
}

@media (max-width: 1200px) {
 
  .sporocilo {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  
  .sporocilo {
    font-size: 20px;
  }
}
